.login-box
  - if signup_enabled?
    .login-heading
      %h3 Existing user? Sign in
  - else
    .login-heading
      %h3 Sign in
  .login-body
    - if form_based_providers.any?
      %ul.nav.nav-tabs
        - if kerberos_enabled?
          %li{class: (:active unless crowd_enabled? || ldap_enabled?)}
            = link_to "Kerberos", "#tab-kerberos", 'data-toggle' => 'tab'
        - if crowd_enabled?
          %li.active
            = link_to "Crowd", "#tab-crowd", 'data-toggle' => 'tab'
        - if ldap_enabled?
          - @ldap_servers.each_with_index do |server, i|
            %li{class: (:active if i.zero? && !crowd_enabled?)}
              = link_to server['label'], "#tab-#{server['provider_name']}", 'data-toggle' => 'tab'
        - if signin_enabled?
          %li
            = link_to 'Standard', '#tab-signin', 'data-toggle' => 'tab'
      .tab-content
        - if kerberos_enabled?
          %div#tab-kerberos.tab-pane{class: (:active unless crowd_enabled? || ldap_enabled?)}
            = render 'devise/sessions/new_kerberos', provider: :kerberos
        - if crowd_enabled?
          %div.tab-pane.active{id: "tab-crowd"}
            = render 'devise/sessions/new_crowd'
        - if ldap_enabled?
          - @ldap_servers.each_with_index do |server, i|
            %div.tab-pane{id: "tab-#{server['provider_name']}", class: (:active if i.zero? && !crowd_enabled?)}
              = render 'devise/sessions/new_ldap', server: server
        - if signin_enabled?
          %div#tab-signin.tab-pane
            = render 'devise/sessions/new_base'

    - elsif signin_enabled?
      = render 'devise/sessions/new_base'
